*{
  font-family: Roboto, Courier, monospace;
  color: white;
}

body{
  background-color: #1b1e2b;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.app-heading{
  display: flex;
  flex-direction: row;
}

.table{
  overflow: hidden;
  border-radius: 1em;
  border-spacing: 0;
  background-color: #272f42;
  padding: 2px;
}

td, th{
  padding: 5px;
  text-align: left;
}

.thead{
  margin-bottom: 20px;
  justify-content: space-between;
  display: flex;
}
